html, body {
	width: 100%;
	height: 100%;
}

footer {
	width: 60%;
	height: 100px;
	margin-left: 20%;
	margin-right: 20%;
	float: left;
	background-color: black;
}

header {
	width: 50%;
	height: 100px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: black;
	display: block;
	font-size: 48px;
	color: white;
	text-align: right;
	line-height: 100px;
}

.container {
	width: 50%;
	height: 1000px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: gray;
	position: relative;
}

h1 {
	font-size: 72px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	padding: 25px;
}

.imgDescription {
	width: 40%;
	text-align: left;
	float: left;
	display: inline;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 0;
}

#imgContainer {
	height: 300px;
	width: 40%;
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	clear: right;
}

.bodyText {
	height: 400px;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 100px;
	margin-bottom: 0px;
	float: left;
	line-height: 25px;
}